/* Modal Styling */
.modalOverlay { margin: 0 !important; }
.shares-facebook { fill: #1877f2;  }
.shares-twitter { fill: #000; }
.shares-whatsapp { fill: #25d366; }
.shares-telegram { fill: #0088cc; }
.copied-url-icon { stroke: #5d56d5; }
.copied-url-done { stroke: #10b981; }

/* Swiper */
.bc19-dots { margin-top: 20px !important; }
.bc19-dots li { width: auto; margin: 0 2px !important; display: inline-block; }
.bc19-dots .swiper-pagination-bullet { transition: all 0.3s; display: inline-block; width: 6px; height: 6px; margin: 5px 2px; background-color: #fff; opacity: .5; border-radius: 100%; }
.bc19-dots .swiper-pagination-bullet:first-child { margin-left: 0; }
.bc19-dots .swiper-pagination-bullet-active { transition: all 0.3s; width: 15px; border-radius: 10px; opacity: 1; }

/* Generic Styles */
@media only screen and (max-width: 1023px) {
	#chart-timeline .apexcharts-legend { right: auto !important; top: 65px !important; margin-left: 5px; }	
}
@media only screen and (max-width: 640px) {

	body {
		/* PWA utilities */
		-webkit-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
}